* {
    box-sizing: border-box;
  }

  a:link {
    color: white;
    }
    a:visited {
    color: white;
    }
    /* a:hover {
    color: #ff3300;
    }
   */
  body {
    margin: auto;
    /* font-family: 'Oswald', sans-serif; */
    color: #022859;
    background-color: #3CAEA3;
  }

  hr {
      height: 2px;
  }

  fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

  /* paragraph line header */
  p {
    display: flex;
    flex-direction: row;
  }
  p:before, p:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid white;
    margin: auto;
  }
  p:before {
    margin-right: 10px
  }
  p:after {
    margin-left: 10px
  }

  /* classes */
  .media_bias_container_style {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }

  .bias_rating_placeholder {
      width: 5%;
  }

  .button {
    margin-top: 1rem;
}

  .left_align {
    text-align: left;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }

  /* .results-img {
    color: #1A73E8;
  } */

  .fact_check_color_blue {
    /* color: #1A73E8; */
    color: white;
  }

  .fact_check_color_red {
      /* color: #d7322d; */
      color: #F00011
  }

  .fact_check_color_green {
      /* color: #89c48a; */
      color: white;
  }

/* ID's */

/* #claim_container {
    background-color: beige;
} */